.playing {
    margin:0;
    padding:0;
    display:flex;
    flex-direction:row;
    align-items:top;
    gap:17px;
  }
  @media screen and (max-width:800px) {
    .playing {
    flex-direction:column;
    max-width:94.5%;
    gap:0;
  }
  }