.lecture__image {
    max-width:59.07%;
    object-fit:cover;
    object-position:center;
  }
  @media screen and (max-width:800px) {
    .lecture__image {
    display:none;
  }
  }.lecture__image_type_mobile {
    display:none;
  }
  @media screen and (max-width:800px) {
    .lecture__image_type_mobile {
    margin-top:24px;
    margin-bottom:24px;
    display:flex;
    max-width:94.5%;
  }
  }