.header__logo {
    margin:0;
    padding:0;
    margin:26px 0 62px 0;
    width:245px;
    height:36px;
    z-index:2;
  }
  @media screen and (max-width:800px) {
    .header__logo {
    margin:20px 0 40px 0;
    width:213px;
    height:32px;
    background-size:cover;
    background-position:center;
  }
  }