.header {
    margin:0;
    padding:0;
    padding-left:62px;
    max-width:100%;
    background-image:url(../../images/background1.png);
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
  }
  @media screen and (max-width:800px) {
    .header {
    padding:0;
    padding-left:20px;
    background-image:url(../../images/background12.png);
    background-size:cover;
    background-position:center;
  }
  }